/*========================================

	Project: 		
	Company: 		Bray leino Yucca
	Developer: 		Rob Howells

	Date: 			02/08/2016

========================================*/
/*========================================

	Base Styles

========================================*/
/*========================================

	Grid Basic Setup

========================================*/
/*========================================

	Adds boxsizing to all elements

========================================*/
* {
  box-sizing: border-box;
  *behavior: url("../scripts/boxsizing.htc"); }

/*========================================

	Container Setup

========================================*/
.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  max-width: 1260px; }
  @media (max-width: 1024) {
    .container {
      padding: 0 15px; } }

/*========================================

	Setup Column and Offset Column
	Float and Margins

========================================*/
.column, .columns {
  float: left;
  *display: inline;
  margin: 0 0.99206%; }
  .column.first, .columns.first {
    margin-left: 0; }
  .column.last, .columns.last {
    margin-right: 0; }

/*========================================

	Clearfix and margin on Rows

========================================*/
.row {
  *zoom: 1;
  margin-bottom: 1.32275%; }
  .row:before, .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after {
    clear: both; }

.negative-row {
  position: relative;
  margin-left: -0.99206%;
  margin-right: -0.99206%; }

@media only screen and (max-width: 400px) {
  .negative-mini-mobile {
    padding: 0;
    margin-left: -0.99206%;
    margin-right: -0.99206%; } }

/*========================================

	Columns List

========================================*/
/*========================================

	Create Each Grid Column Percentage

========================================*/
/*========================================

	Standard Column Widths And Offsets

========================================*/
.one.columns {
  width: 6.34921%; }

.two.columns {
  width: 14.68254%; }

.three.columns {
  width: 23.01587%; }

.four.columns {
  width: 31.34921%; }

.five.columns {
  width: 39.68254%; }

.six.columns {
  width: 48.01587%; }

.seven.columns {
  width: 56.34921%; }

.eight.columns {
  width: 64.68254%; }

.nine.columns {
  width: 73.01587%; }

.ten.columns {
  width: 81.34921%; }

.eleven.columns {
  width: 89.68254%; }

.twelve.columns {
  width: 98.01587%; }

.offset-by-half {
  margin-left: 5.15873%; }

.offset-by-one {
  margin-left: 9.3254%; }

.offset-by-one-half {
  margin-left: 13.49206%; }

.offset-by-two {
  margin-left: 17.65873%; }

.offset-by-two-half {
  margin-left: 21.8254%; }

.offset-by-three {
  margin-left: 25.99206%; }

.offset-by-three-half {
  margin-left: 30.15873%; }

.offset-by-four {
  margin-left: 34.3254%; }

.offset-by-four-half {
  margin-left: 38.49206%; }

.offset-by-five {
  margin-left: 42.65873%; }

.offset-by-five-half {
  margin-left: 46.8254%; }

.offset-by-six {
  margin-left: 50.99206%; }

.offset-by-six-half {
  margin-left: 55.15873%; }

.offset-by-seven {
  margin-left: 59.3254%; }

.offset-by-seven-half {
  margin-left: 63.49206%; }

.offset-by-eight {
  margin-left: 67.65873%; }

.offset-by-eight-half {
  margin-left: 71.8254%; }

.offset-by-nine {
  margin-left: 75.99206%; }

.offset-by-nine-half {
  margin-left: 80.15873%; }

.offset-by-ten {
  margin-left: 84.3254%; }

.offset-by-ten-half {
  margin-left: 88.49206%; }

.offset-by-eleven {
  margin-left: 92.65873%; }

.offset-by-eleven-half {
  margin-left: 96.8254%; }

/*========================================

	Resonsive Column Widths And Offsets

========================================*/
@media only screen and (max-width: 768px) {
  .one-tablet.columns {
    width: 6.34921%; }
  .two-tablet.columns {
    width: 14.68254%; }
  .three-tablet.columns {
    width: 23.01587%; }
  .four-tablet.columns {
    width: 31.34921%; }
  .five-tablet.columns {
    width: 39.68254%; }
  .six-tablet.columns {
    width: 48.01587%; }
  .seven-tablet.columns {
    width: 56.34921%; }
  .eight-tablet.columns {
    width: 64.68254%; }
  .nine-tablet.columns {
    width: 73.01587%; }
  .ten-tablet.columns {
    width: 81.34921%; }
  .eleven-tablet.columns {
    width: 89.68254%; }
  .twelve-tablet.columns {
    width: 98.01587%; }
  .offset-by-none-tablet {
    margin-left: 0.99206%;
    margin-right: 0.99206%; } }

@media only screen and (max-width: 760px) {
  .columns {
    float: none;
    display: block;
    margin: 0 1.25% 5%; }
    .columns.first {
      margin-left: 10px; }
    .columns.last {
      margin-right: 10px; }
  .one.columns {
    width: auto; }
  .two.columns {
    width: auto; }
  .three.columns {
    width: auto; }
  .four.columns {
    width: auto; }
  .five.columns {
    width: auto; }
  .six.columns {
    width: auto; }
  .seven.columns {
    width: auto; }
  .eight.columns {
    width: auto; }
  .nine.columns {
    width: auto; }
  .ten.columns {
    width: auto; }
  .eleven.columns {
    width: auto; }
  .twelve.columns {
    width: auto; }
  .one-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 22.5%; }
    .one-phablet.columns.mbn {
      margin-bottom: 0; }
  .two-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 47.5%; }
    .two-phablet.columns.mbn {
      margin-bottom: 0; }
  .three-phablet.columns {
    float: left;
    margin: 0 1.25% 2.5%;
    width: 72.5%; }
    .three-phablet.columns.mbn {
      margin-bottom: 0; } }

@media only screen and (max-width: 569px) {
  .one-phablet.columns {
    width: 97.25%; }
  .two-phablet.columns {
    width: 97.25%; }
  .three-phablet.columns {
    width: 97.25%; }
  .one-mobile.columns {
    margin: 0 1.25% 2.5%;
    width: 47.5%; }
  .two-mobile.columns {
    margin: 0 1.25% 2.5%;
    width: 97.5%; } }

/*========================================

	Resonsive Mixin For Responsive 
	Styles Within The Normal Classes.

========================================*/
/*========================================

  normalize.css v3.0.3

========================================*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-size: 62.5%;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*========================================

	Reset

========================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0; }

/*========================================

	Micro Clearfix

========================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*========================================

	Box Layout

========================================*/
* {
  box-sizing: border-box;
  *behavior: url("../scripts/boxsizing.htc"); }

.container {
  margin-left: auto;
  margin-right: auto; }

/*========================================

	Useful Global Styles
		
========================================*/
img {
  height: auto;
  max-width: 100%; }

nav ul {
  list-style: none; }

/*========================================

	Set the base font size to 10
		
========================================*/
html, body {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

.third-no-gutter {
  margin-left: 0;
  margin-right: 0;
  width: 33.33333%; }
  @media (max-width: 760px) {
    .third-no-gutter {
      width: 100%; } }

/*========================================

	Global Styles

========================================*/
/*========================================

	Mixins and snippets

========================================*/
/*========================================

	Cross Browser Opacity

========================================*/
/*========================================

	REM Cross Browser Font Size 
	Calculator

========================================*/
/*========================================

	Vendorizer

========================================*/
/*========================================

	Cross Browser Vertical Gradient

========================================*/
/*========================================

	Cross Browser Horizontal Gradient

========================================*/
/*========================================

    Simple Inline List

========================================*/
/*========================================

    Clearfix

========================================*/
/*========================================

	Positioning

========================================*/
/*========================================

    Placeholder

========================================*/
/*========================================

	Background Images

========================================*/
/*========================================

    Keyframe animation

========================================*/
/*========================================

  Transitions and animations

========================================*/
/*========================================

    Text ellipsis

========================================*/
/*========================================

	Normal Colors, Just in case

========================================*/
/*========================================

	Main Colours 

========================================*/
/*========================================

	Colours Variations 

========================================*/
/*========================================

	Typography Styles

========================================*/
body {
  font-family: "museo-sans", sans-serif !important;
  font-size: 16px;
  font-size: 1.6rem; }

h1, h2, h3, h4, h5, h6 {
  color: #5c397f;
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-family: "museo-sans", sans-serif !important;
  letter-spacing: -0.02em;
  font-weight: 300; }

hr.styled {
  border-bottom: 4px solid #5c397f; }

h1, .h1-size-text {
  font-size: 40px;
  font-size: 4rem; }
  @media (max-width: 1024px) {
    h1, .h1-size-text {
      font-size: 40px;
      font-size: 4rem; } }
  @media (max-width: 768px) {
    h1, .h1-size-text {
      font-size: 28px;
      font-size: 2.8rem; } }
  @media (max-width: 569px) {
    h1, .h1-size-text {
      font-size: 26px;
      font-size: 2.6rem; } }

h2 {
  font-size: 24px;
  font-size: 2.4rem; }
  @media (max-width: 1024px) {
    h2 {
      font-size: 24px;
      font-size: 2.4rem; } }
  @media (max-width: 768px) {
    h2 {
      font-size: 22px;
      font-size: 2.2rem; } }
  @media (max-width: 569px) {
    h2 {
      font-size: 20px;
      font-size: 2rem; } }

h3 {
  font-size: 20px;
  font-size: 2rem; }
  @media (max-width: 1024px) {
    h3 {
      font-size: 20px;
      font-size: 2rem; } }
  @media (max-width: 768px) {
    h3 {
      font-size: 18px;
      font-size: 1.8rem; } }
  @media (max-width: 569px) {
    h3 {
      font-size: 17px;
      font-size: 1.7rem; } }

h4 {
  font-size: 17px;
  font-size: 1.7rem; }
  @media (max-width: 1024px) {
    h4 {
      font-size: 17px;
      font-size: 1.7rem; } }
  @media (max-width: 768px) {
    h4 {
      font-size: 16px;
      font-size: 1.6rem; } }
  @media (max-width: 569px) {
    h4 {
      font-size: 16px;
      font-size: 1.6rem; } }

h5 {
  font-size: 14px;
  font-size: 1.4rem; }
  @media (max-width: 1024px) {
    h5 {
      font-size: 14px;
      font-size: 1.4rem; } }
  @media (max-width: 768px) {
    h5 {
      font-size: 13px;
      font-size: 1.3rem; } }
  @media (max-width: 569px) {
    h5 {
      font-size: 13px;
      font-size: 1.3rem; } }

h6 {
  font-size: 12px;
  font-size: 1.2rem; }
  @media (max-width: 1024px) {
    h6 {
      font-size: 12px;
      font-size: 1.2rem; } }
  @media (max-width: 768px) {
    h6 {
      font-size: 11px;
      font-size: 1.1rem; } }
  @media (max-width: 569px) {
    h6 {
      font-size: 11px;
      font-size: 1.1rem; } }

.alt-color {
  color: #5c397f; }

.xl-text {
  font-size: 36px;
  font-size: 3.6rem; }
  @media (max-width: 1024px) {
    .xl-text {
      font-size: 36px;
      font-size: 3.6rem; } }
  @media (max-width: 768px) {
    .xl-text {
      font-size: 32px;
      font-size: 3.2rem; } }
  @media (max-width: 569px) {
    .xl-text {
      font-size: 28px;
      font-size: 2.8rem; } }

p, li, a {
  color: #5c397f;
  line-height: 1.2;
  margin-bottom: 1em;
  font-size: 16px;
  font-size: 1.6rem; }
  p.text-small, li.text-small, a.text-small {
    font-size: 14px;
    font-size: 1.4rem; }

a {
  color: #5c397f;
  margin-bottom: 0; }

/*========================================

	Typography Helpers

========================================*/
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

@media (max-width: 760px) {
  .text-left-phablet {
    text-align: left; } }

@media (max-width: 760px) {
  .text-center-phablet {
    text-align: center; } }

.text-indent {
  font-size: 1px;
  position: absolute;
  color: transparent;
  text-indent: -99999px; }

/*========================================

    Z-Index Styles
    _________________

    This File Is For Setting All Of
    The Base Z-Index Values For A More
	Modular & Reusable Approach.

========================================*/
/*========================================

	Usage
	--------------------------------------

	.className {
		z-index: z(modal);
	}

	Will Output:

	.className {
		z-index: 3000;
	}

========================================*/
/*========================================

	Animation styles

========================================*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*========================================

	Helper Classes

========================================*/
/*========================================

	Display Helpers

========================================*/
.display-block {
  display: block; }

.display-inline {
  display: inline-block; }

@media (max-width: 768px) {
  .block-on-phablet {
    display: block; } }

@media (max-width: 768px) {
  .hidden-on-tablet {
    display: none; } }

@media (max-width: 760px) {
  .hidden-on-phablet {
    display: none; } }

@media (max-width: 569px) {
  .hidden-on-mobile {
    display: none; } }

.shown-on-phablet {
  display: none; }
  @media (max-width: 760px) {
    .shown-on-phablet {
      display: block; } }

.hidden {
  display: none; }

/*========================================

	List Helpers

========================================*/
.block-list {
  margin-left: 0px;
  list-style: none; }
  .block-list > li {
    float: none;
    display: block; }

.inline-list {
  margin-left: 0px;
  list-style: none; }
  .inline-list > li {
    float: left;
    margin-bottom: 0px; }
    .inline-list > li a {
      display: block;
      text-decoration: none; }

/*========================================

	Spacing Helpers

========================================*/
.mbn {
  margin-bottom: 0; }

.mb20 {
  margin-bottom: 20px; }
  @media (max-width: 760px) {
    .mb20-phablet {
      margin-bottom: 20px; } }

.mb25 {
  margin-bottom: 25px; }

/*========================================

	Mobile full width

========================================*/
@media (max-width: 760px) {
  .phablet-full-width .container {
    padding-left: 0;
    padding-right: 0; }
  .phablet-full-width .columns {
    margin-left: 0;
    margin-right: 0; } }

/*========================================

	Padding Helpers

========================================*/
.p30 {
  padding: 30px; }

/*========================================

	Container Helpers

========================================*/
@media (max-width: 760px) {
  .scrollable-on-mobile {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
    .scrollable-on-mobile > div, .scrollable-on-mobile > a {
      float: none;
      white-space: normal;
      display: inline-block; } }

@media (max-width: 569px) {
  .scrollable-on-mobile {
    text-align: center; }
    .scrollable-on-mobile > div.columns {
      float: none; } }

.same-height-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media (max-width: 760px) {
    .same-height-children {
      display: block; } }
  .same-height-children.until-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media (max-width: 569px) {
      .same-height-children.until-mobile {
        display: block; } }

/*========================================

	Alignment Helpers

========================================*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }
  @media (max-width: 760px) {
    .pull-right {
      float: none; } }

/*========================================

	Layout Styles

========================================*/
/*========================================
		Global Component Styles
	========================================*/
/*========================================
		Layout Component Styles
	========================================*/
.report-block {
  padding: 30px;
  border: 1px solid #757575; }
  .report-block.alt {
    background: #5c397f; }

.alt .report-block-title {
  color: #ffffff; }

/*========================================

	Video Styles
	_____________

========================================*/
/*========================================

	Responsive Video Styles

========================================*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background-color: #000000; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    height: 100%; }

.inline-video-container {
  margin: 25px 0; }

.video-cover-img {
  width: 100%;
  display: block;
  cursor: pointer;
  position: absolute;
  padding-bottom: 56.5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .video-cover-img:after {
    content: '\e914';
    left: 0;
    right: 0;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    font-size: 6rem;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media (max-width: 768px) {
      .video-cover-img:after {
        font-size: 50px;
        font-size: 5rem; } }
    @media (max-width: 569px) {
      .video-cover-img:after {
        font-size: 40px;
        font-size: 4rem; } }
  .video-cover-img:before {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    filter: alpha(opactiy=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    background: #ffffff;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .video-cover-img:hover:before {
    filter: alpha(opactiy=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -moz-opacity: 0.45;
    -khtml-opacity: 0.45;
    opacity: 0.45; }

/*========================================

	Video Gallery Styles

========================================*/
.video-gallery-overlay {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  position: fixed;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.8); }
  .video-gallery-overlay-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%); }
    .open .video-gallery-overlay-inner {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .video-gallery-overlay-close {
    top: 20px;
    right: 20px;
    position: fixed;
    font-size: 40px;
    font-size: 4rem; }
  .video-gallery-overlay.open {
    opacity: 1;
    max-height: none; }

.video-gallery-side-list {
  margin: 0;
  list-style: none; }

.video-gallery-side-item {
  padding: 15px 0;
  margin-bottom: 0;
  border-bottom: 1px solid #757575; }
  .video-gallery-side-item:first-child {
    padding-top: 0; }
  .video-gallery-side-item:last-child {
    border-bottom: 0; }

.video-gallery-side-item-link {
  font-size: 0;
  display: block; }

.video-gallery-side-item-img {
  width: 120px;
  height: 70px;
  display: inline-block;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.video-gallery-side-item-text {
  padding: 5px 10px;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 120px); }

.video-gallery-side-item-text-desc {
  width: 80%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px; }

.video-gallery-side-item-text-link {
  margin-bottom: 0; }

.investor-navigation-block {
  display: block;
  position: relative;
  background: url("https://static.pexels.com/photos/34177/pexels-photo.jpg");
  background-size: cover;
  padding: 80px 40px;
  text-decoration: none;
  font-size: 26px;
  font-size: 2.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .investor-navigation-block:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
    background: rgba(67, 41, 92, 0.8); }
  .investor-navigation-block-title {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px; }
    .investor-navigation-block-title.with-icon:before {
      content: '';
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 20px;
      display: inline-block;
      border: 2px solid #ffffff;
      top: 12px; }
  .investor-navigation-block-content {
    display: block;
    line-height: 1.5;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff; }
  .investor-navigation-block-small {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-size: 1.6rem; }
  .investor-navigation-block.selected:before, .investor-navigation-block.alt-bg:before {
    background: rgba(0, 0, 0, 0.6); }
  .investor-navigation-block:hover:not(.selected):before {
    background: rgba(92, 57, 127, 0.8); }
  .investor-navigation-block:hover.alt-bg:before {
    background: rgba(0, 0, 0, 0.8); }
  .investor-navigation-block:nth-child(2n) {
    background: url("https://static.pexels.com/photos/106344/pexels-photo-106344.jpeg");
    background-size: cover; }

.share-price-circle {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  border: 3px solid #5c397f;
  float: right;
  padding-left: 20px; }
  .share-price-circle span {
    margin-top: 45px;
    display: block;
    font-size: 12px;
    font-size: 1.2rem; }
  .share-price-circle p {
    font-size: 35px;
    font-size: 3.5rem; }

.mission-stats {
  margin-left: 0px;
  list-style: none; }
  .mission-stats > li {
    float: left;
    margin-bottom: 0px; }
    .mission-stats > li a {
      display: block;
      text-decoration: none; }

.mission-stats-item {
  width: 25%; }

.mission-stat-number {
  font-weight: 700;
  display: block;
  text-align: center;
  font-size: 50px;
  font-size: 5rem; }

.mission-stat-detail {
  text-align: center; }

/*========================================
		Main Styles
	========================================*/
/*========================================

	HTML / Body styles

========================================*/
@media (max-width: 760px) {
  body.mobile-no-scroll {
    width: 100%;
    position: fixed; } }

/*========================================

	Header styles

========================================*/
header, footer {
  height: 150px;
  color: #ffffff;
  text-align: center;
  background: #5c397f;
  font-size: 30px;
  font-size: 3rem; }

footer {
  height: 430px; }

/*========================================

	Main styles

========================================*/
.section-padded {
  padding: 100px 0; }

.wider-container > .container {
  max-width: 1600px; }
