/*========================================

	Normal Colors, Just in case

========================================*/

$whiteDefault: #ffffff;
$blackDefault: #000000; 


/*========================================

	Main Colours 

========================================*/

$primary:		#5c397f;
$secondary:		#ffffff;
$grey:			#757575;

/*========================================

	Colours Variations 

========================================*/
