/*========================================

	Helper Classes

========================================*/

/*========================================

	Display Helpers

========================================*/

.display-block {
	display: block;
}

.display-inline {
	display: inline-block;
}

.block-on-phablet {
	@include breakpoint(tablet) {
		display: block;
	}
}

.hidden-on-tablet {
	@include breakpoint(tablet) {
		display: none;
	}
}

.hidden-on-phablet {
	@include breakpoint(phablet) {
		display: none;
	}
}

.hidden-on-mobile {
	@include breakpoint(mobile) {
		display: none;
	}
}

.shown-on-phablet {
	display: none;
	@include breakpoint(phablet) {
		display: block;
	}
}

.hidden {
    display: none;
}

/*========================================

	List Helpers

========================================*/

.block-list {
    @include blockList;
}

.inline-list {
    @include inlineList;
}

/*========================================

	Spacing Helpers

========================================*/

.mbn {
	margin-bottom: 0;
}

.mb20 {
	margin-bottom: 20px;
	&-phablet {
		@include breakpoint(phablet) {
			margin-bottom: 20px;
		}
	}
}

.mb25 {
	margin-bottom: 25px;
}

/*========================================

	Mobile full width

========================================*/

.phablet-full-width {
	@include breakpoint(phablet) {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
		.columns {
			margin-left: 0;		
			margin-right: 0;		
		}
	}
}

/*========================================

	Padding Helpers

========================================*/

.p30 {
	padding: 30px;
}

/*========================================

	Container Helpers

========================================*/

.scrollable-on-mobile {
	@include breakpoint(phablet) {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		& > div, & > a {
			float: none;
			white-space: normal;
			display: inline-block;
		}
	}
	@include breakpoint(mobile) {
		text-align: center;
		& > div.columns {
			float: none;
		}
	}
}

.same-height-children {
	display: flex;
	align-items: stretch;
	@include breakpoint(phablet) {
		display: block;
	}
    &.until-mobile {
        display: flex;
	    align-items: stretch;
		@include breakpoint(mobile) {
			display: block; 
		}
	}
}

/*========================================

	Alignment Helpers

========================================*/

.pull-left {
	float: left;
}

.pull-right {
	float: right;
	@include breakpoint(phablet) {
		float: none;
	}
}
