/*========================================

	Mixins and snippets

========================================*/


/*========================================

	Cross Browser Opacity

========================================*/

@mixin opacity($trans) {
	filter: alpha(opactiy=($trans * 100));
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
	-moz-opacity: $trans;
	-khtml-opacity: $trans;
	opacity: $trans;
}

/*========================================

	REM Cross Browser Font Size 
	Calculator

========================================*/

@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 1) + px;
	font-size: ($sizeValue / 10) + rem;
}

/*========================================

	Vendorizer

========================================*/

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

/*========================================

	Cross Browser Vertical Gradient

========================================*/

@mixin vertical-gradient($fromColor, $toColor) {
	background: $fromColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $fromColor), color-stop(100%, $toColor));
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, $fromColor, $toColor);
}

/*========================================

	Cross Browser Horizontal Gradient

========================================*/

@mixin horizontal-gradient($fromColor, $toColor) {
	background: $fromColor;
	background-image: -webkit-gradient(linear, left top, right top, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(left, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(left, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(left, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(left, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(to right, $fromColor, $toColor);
}


/*========================================

    Simple Inline List

========================================*/

@mixin inlineList {
    margin-left: 0px;
    list-style: none;
    & > li {
        float: left;
        margin-bottom: 0px;
        a {
            display: block;
            text-decoration: none;
        }
    }
}

@mixin blockList {
    margin-left: 0px;
    list-style: none;
    & > li {
        float: none;
        display: block;
    }
}

/*========================================

    Clearfix

========================================*/

@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

/*========================================

	Positioning

========================================*/
 
@mixin centerVertically { 
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}

/*========================================

    Placeholder

========================================*/

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}

/*========================================

	Background Images

========================================*/
 
@mixin backgroundImage { 
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

/*========================================

    Keyframe animation

========================================*/

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animationProperties...) {
  -webkit-animation: $animationProperties;
  -moz-animation: $animationProperties;
  -o-animation: $animationProperties;
  animation: $animationProperties;
}

/*========================================

  Transitions and animations

========================================*/

@mixin transition {
  transition: all 0.2s;
}

/*========================================

    Text ellipsis

========================================*/

@mixin truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
