/*========================================

	Typography Styles

========================================*/

@mixin headingFont() {
    font-family: "museo-sans",sans-serif!important;
}



@mixin bodyFont() {
    font-family: "museo-sans",sans-serif!important;
}


@mixin type($norm, $smallDesktop, $tablet, $mobile){
    @include font-size($norm)
    @include breakpoint(small-desktop) {
        @include font-size($smallDesktop)
    }
    @include breakpoint(tablet) {
        @include font-size($tablet)
    }
    @include breakpoint(mobile) {
        @include font-size($mobile)
    }
}

body {
    @include bodyFont;
    @include font-size(16);
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
    line-height: 1.4;
    margin-bottom: 0.5em;
    @include headingFont;
    letter-spacing: -0.02em;
    font-weight: 300;
}

hr.styled {
    border-bottom: 4px solid $primary;
}

h1, .h1-size-text {
    @include type(40, 40, 28, 26);
}

h2 {
    @include type(24, 24, 22, 20);
}

h3 {
    @include type(20, 20, 18, 17);
}

h4 {
    @include type(17, 17, 16, 16);
}

h5 {
    @include type(14, 14, 13, 13);
}

h6 {
    @include type(12, 12, 11, 11);
}

.alt-color {
    color: $primary;
}

.xl-text {
    @include type(36, 36, 32, 28);
}

p, li, a {
    color: $primary;
    line-height: 1.2;
    margin-bottom: 1em;
    @include font-size(16);
    &.text-small {
        @include font-size(14);
    }
}
a {
    color: $primary;
    margin-bottom: 0;
}

/*========================================

	Typography Helpers

========================================*/

.text-center {
	text-align: center; 
}

.text-right {
    text-align: right;
}

.text-left-phablet {
    @include breakpoint(phablet) {
        text-align: left;
    }
}

.text-center-phablet {
    @include breakpoint(phablet) {
        text-align: center;
    }
}

.text-indent {
    font-size: 1px;
    position: absolute;
    color: transparent;
    text-indent: -99999px;
}