.investor-navigation-block {
	display: block;
	position: relative;
	background: url('https://static.pexels.com/photos/34177/pexels-photo.jpg');
	background-size: cover;
	padding: 80px 40px;
	text-decoration: none;
	@include font-size(26);
	transition: all 0.3s;
	&:before {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		transition: all 0.3s;
		z-index: z(default) - 1;
		background: rgba(darken($primary, 10%), 0.8);
	}
	&-title {
		display: block;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
		&.with-icon {
			&:before {
				content: '';
				width: 40px;
				height: 40px;
				position: relative;
				margin-right: 20px;
				display: inline-block;
				border: 2px solid $whiteDefault;
				top: 12px;
			}
		}
	}
	&-content {
		display: block;
		line-height: 1.5;
		text-align: center;
		position: relative;
		z-index: z(default);
		color: $whiteDefault;
	}
	&-small {
		display: block;
		margin-top: 10px;
		@include font-size(16);
	}
	&.alt-bg {

	}
	&.selected, &.alt-bg {
		&:before {
			background: rgba($blackDefault, 0.6);
		}
	}
	&:hover {
		&:not(.selected) {
			&:before {
				background: rgba($primary, 0.8);
			}
		}
		&.alt-bg:before {
			background: rgba($blackDefault, 0.8);
		}
	}
	&:nth-child(2n) {
		background: url('https://static.pexels.com/photos/106344/pexels-photo-106344.jpeg');
		background-size: cover;
	}
}