.mission-stats {
	@include inlineList;
}
.mission-stats-item {
	width: 25%;
}
.mission-stat-number {
	font-weight: 700;
	display: block;
	text-align: center;
	@include font-size(50);
}
.mission-stat-detail {
	text-align: center;
}