.share-price-circle {
	border-radius: 100%;
	height: 150px;
	width: 150px;
	border: 3px solid $primary;
	float: right;
	padding-left: 20px;
	span {
		margin-top: 45px;
		display: block;
		@include font-size(12);
	}
	p {
		@include font-size(35);
	}
}