/*========================================

	Video Styles
	_____________

========================================*/

/*========================================

	Responsive Video Styles

========================================*/

.video-container { 
    position: relative; 
    padding-bottom: 56.25%;  
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    background-color: $blackDefault;
    iframe, object, embed {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        border:none;
        height: 100%;  
    }
}  

.inline-video-container {
    margin: 25px 0;
}

.video-cover-img {
    width: 100%;
    display: block;
    cursor: pointer;
    position: absolute;
    padding-bottom: 56.5%;
    @include backgroundImage; 
    &:after {
        content: '\e914';
        left: 0;
        right: 0;
        color: $whiteDefault;
        margin: 0 auto;
        //@include iconFont;
        text-align: center;
        @include font-size(60);
        @include centerVertically;
        @include breakpoint(tablet) {
            @include font-size(50);
        }
        @include breakpoint(mobile) {
            @include font-size(40);
        }
    }
    &:before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        @include transition;
        @include opacity(0.5);
        background: $secondary;
        @include centerVertically;
    }
    &:hover {
        &:before {
            @include opacity(0.45);
        }
    }
}

/*========================================

	Video Gallery Styles

========================================*/

.video-gallery-overlay {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    position: fixed;
    overflow: hidden;
    transition: all 0.2s;
    background: rgba($whiteDefault, 0.8);
    &-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        transition-delay: 0.1s;
        transform: translate(-50%, -40%);
        .open & {
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
    &-close {
        top: 20px;
        right: 20px;
        position: fixed;
        @include font-size(40);
    }
    &.open {
        opacity: 1;
        max-height: none;
    }
}

.video-gallery-side-list {
   margin: 0;
   list-style: none;
}

.video-gallery-side-item {
    padding: 15px 0;
    margin-bottom: 0;
    border-bottom: 1px solid $grey;
    &:first-child {
       padding-top: 0;
   }
    &:last-child {
        border-bottom: 0;
    }
}

.video-gallery-side-item-link {
    font-size: 0;
    display: block;
}

.video-gallery-side-item-img {
    width: 120px;
    height: 70px;
    display: inline-block;
    background-color: $blackDefault;
    @include backgroundImage;
}

.video-gallery-side-item-text {
    padding: 5px 10px;
    vertical-align: top;
    display: inline-block; 
    width: calc(100% - 120px);
}

.video-gallery-side-item-text-desc {
    width: 80%;
    display: block;
    @include truncate;
    margin-top: 5px; 
    margin-bottom: 2px; 
}

.video-gallery-side-item-text-link {
    margin-bottom: 0;
}