/*========================================

	HTML / Body styles

========================================*/

body {
	&.mobile-no-scroll {
		@include breakpoint(phablet) {
			width: 100%;
    		position: fixed;
		}
	} 
}

/*========================================

	Header styles

========================================*/

header, footer { 
	height: 150px;
	color: $secondary;
	text-align: center;
	background: $primary;
	@include font-size(30);
}
footer {
	height: 430px;
}

/*========================================

	Main styles

========================================*/

.section-padded {
	padding: 100px 0;
}

.wider-container {
	& > .container {
		max-width: 1600px;
	}
}