/*========================================

	Reset

========================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
}

/*========================================

	Micro Clearfix

========================================*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/*========================================

	Box Layout

========================================*/

* {
	box-sizing: border-box;
	*behavior: url("../scripts/boxsizing.htc");
}

.container{
	margin-left: auto;
	margin-right: auto;
}

/*========================================

	Useful Global Styles
		
========================================*/


img {
	height: auto;
	max-width: 100%;
}
nav ul {
	list-style: none;
}

/*========================================

	Set the base font size to 10
		
========================================*/

html, body {
	font-size: 62.5%; 
}
body {
	overflow-x: hidden;
}
